/* Coolors Exported Palette - https://coolors.co/8aa399-7d84b2-8fa6cb-dbf4a7-d5f9de */

/* CSS HEX */
--cambridge-blue: #8aa399ff;
--cool-gray: #7d84b2ff;
--vista-blue: #8fa6cbff;
--mindaro: #dbf4a7ff;
--nyanza: #d5f9deff;

/* CSS HSL */
--cambridge-blue: hsla(156, 12%, 59%, 1);
--cool-gray: hsla(232, 26%, 59%, 1);
--vista-blue: hsla(217, 37%, 68%, 1);
--mindaro: hsla(79, 78%, 81%, 1);
--nyanza: hsla(135, 75%, 91%, 1);

/* SCSS HEX */
$cambridge-blue: #8aa399ff;
$cool-gray: #7d84b2ff;
$vista-blue: #8fa6cbff;
$mindaro: #dbf4a7ff;
$nyanza: #d5f9deff;

/* SCSS HSL */
$cambridge-blue: hsla(156, 12%, 59%, 1);
$cool-gray: hsla(232, 26%, 59%, 1);
$vista-blue: hsla(217, 37%, 68%, 1);
$mindaro: hsla(79, 78%, 81%, 1);
$nyanza: hsla(135, 75%, 91%, 1);

/* SCSS RGB */
$cambridge-blue: rgba(138, 163, 153, 1);
$cool-gray: rgba(125, 132, 178, 1);
$vista-blue: rgba(143, 166, 203, 1);
$mindaro: rgba(219, 244, 167, 1);
$nyanza: rgba(213, 249, 222, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #8aa399ff, #7d84b2ff, #8fa6cbff, #dbf4a7ff, #d5f9deff);
$gradient-right: linear-gradient(90deg, #8aa399ff, #7d84b2ff, #8fa6cbff, #dbf4a7ff, #d5f9deff);
$gradient-bottom: linear-gradient(180deg, #8aa399ff, #7d84b2ff, #8fa6cbff, #dbf4a7ff, #d5f9deff);
$gradient-left: linear-gradient(270deg, #8aa399ff, #7d84b2ff, #8fa6cbff, #dbf4a7ff, #d5f9deff);
$gradient-top-right: linear-gradient(45deg, #8aa399ff, #7d84b2ff, #8fa6cbff, #dbf4a7ff, #d5f9deff);
$gradient-bottom-right: linear-gradient(135deg, #8aa399ff, #7d84b2ff, #8fa6cbff, #dbf4a7ff, #d5f9deff);
$gradient-top-left: linear-gradient(225deg, #8aa399ff, #7d84b2ff, #8fa6cbff, #dbf4a7ff, #d5f9deff);
$gradient-bottom-left: linear-gradient(315deg, #8aa399ff, #7d84b2ff, #8fa6cbff, #dbf4a7ff, #d5f9deff);
$gradient-radial: radial-gradient(#8aa399ff, #7d84b2ff, #8fa6cbff, #dbf4a7ff, #d5f9deff);