/* Coolors Exported Palette - https://coolors.co/e2f1af-e3d888-84714f-5a3a31-31231e */

/* CSS HEX */
--tea-green: #e2f1afff;
--flax: #e3d888ff;
--coyote: #84714fff;
--rose-ebony: #5a3a31ff;
--bistre: #31231eff;

/* CSS HSL */
--tea-green: hsla(74, 70%, 82%, 1);
--flax: hsla(53, 62%, 71%, 1);
--coyote: hsla(38, 25%, 41%, 1);
--rose-ebony: hsla(13, 29%, 27%, 1);
--bistre: hsla(16, 24%, 15%, 1);

/* SCSS HEX */
$tea-green: #e2f1afff;
$flax: #e3d888ff;
$coyote: #84714fff;
$rose-ebony: #5a3a31ff;
$bistre: #31231eff;

/* SCSS HSL */
$tea-green: hsla(74, 70%, 82%, 1);
$flax: hsla(53, 62%, 71%, 1);
$coyote: hsla(38, 25%, 41%, 1);
$rose-ebony: hsla(13, 29%, 27%, 1);
$bistre: hsla(16, 24%, 15%, 1);

/* SCSS RGB */
$tea-green: rgba(226, 241, 175, 1);
$flax: rgba(227, 216, 136, 1);
$coyote: rgba(132, 113, 79, 1);
$rose-ebony: rgba(90, 58, 49, 1);
$bistre: rgba(49, 35, 30, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #e2f1afff, #e3d888ff, #84714fff, #5a3a31ff, #31231eff);
$gradient-right: linear-gradient(90deg, #e2f1afff, #e3d888ff, #84714fff, #5a3a31ff, #31231eff);
$gradient-bottom: linear-gradient(180deg, #e2f1afff, #e3d888ff, #84714fff, #5a3a31ff, #31231eff);
$gradient-left: linear-gradient(270deg, #e2f1afff, #e3d888ff, #84714fff, #5a3a31ff, #31231eff);
$gradient-top-right: linear-gradient(45deg, #e2f1afff, #e3d888ff, #84714fff, #5a3a31ff, #31231eff);
$gradient-bottom-right: linear-gradient(135deg, #e2f1afff, #e3d888ff, #84714fff, #5a3a31ff, #31231eff);
$gradient-top-left: linear-gradient(225deg, #e2f1afff, #e3d888ff, #84714fff, #5a3a31ff, #31231eff);
$gradient-bottom-left: linear-gradient(315deg, #e2f1afff, #e3d888ff, #84714fff, #5a3a31ff, #31231eff);
$gradient-radial: radial-gradient(#e2f1afff, #e3d888ff, #84714fff, #5a3a31ff, #31231eff);